In [3]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('train.csv', index_col = 'Loan_ID')

In [6]:
#visualizando todas as linhas das colunas Gender, Education e Loan_Status que contém mulheres não graduadas que conseguiram empréstimo
data.loc[(data['Gender'] == 'Female') & (data['Education'] == 'Not Graduate') & (data['Loan_Status'] == 'Y'), ['Gender', 'Education', 'Loan_Status']]

          Gender     Education Loan_Status
Loan_ID
LP001155  Female  Not Graduate           Y
LP001669  Female  Not Graduate           Y
LP001692  Female  Not Graduate           Y
LP001908  Female  Not Graduate           Y
LP002300  Female  Not Graduate           Y
LP002314  Female  Not Graduate           Y
LP002407  Female  Not Graduate           Y
LP002489  Female  Not Graduate           Y
LP002502  Female  Not Graduate           Y
LP002534  Female  Not Graduate           Y
LP002582  Female  Not Graduate           Y
LP002731  Female  Not Graduate           Y
LP002757  Female  Not Graduate           Y
LP002917  Female  Not Graduate           Y

In [ ]:
#criando uma APPLY funtion para encontrar valores faltantes